body {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.banner-container {
    position: relative;
}


.banner-container img {
    width: 100%;
    height: auto;
}

.banner-texts {
    position: absolute;
    top: 20%;
    left: 50%;
    text-align: right;
    margin-right: 80px;
}

.banner-title {
    color: #151414;
    font-size: 50px;
    font-weight: 700;
}

.bannder-description {

    color: #444343;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.primary-btn {
    color: azure;
    font-size: 15px;
    font-weight: 600;
    border-radius: 5px;
    border: 0px;
    padding: 15px 25px;
    background-color: #F15B22;
    text-align: right;
}